.cool
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
    background-color: yellow;

}

.big
{
    font-size: larger;
}

.cooler
{
    background-color: teal;
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}